$mobile: 576px
$tablet: 992px
$desktop: 1200px

$directions: ("top": "t", "bottom": "b", "left": "l", "right": "r", "start": "s", "end": "e")
$axis: ("x": ("l", "r", "s", "e"), "y": ("t", "b"))

$displays: none, inline-block, inline, block, grid, inline-grid, flex, inline-flex
$positions: relative, absolute, fixed, sticky
$alignments: center, start, end, flex-start, flex-end, baseline, stretch
$justifications: center, right, left, start, end, flex-start, flex-end, space-between, space-around, space-evenly
$flex-wraps: nowrap, wrap, wrap-reverse
$flex-directions: row, row-reverse, column, column-reverse
